* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #0066cc;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Menu */
nav {
    background-color: #004c99;
    padding: 15px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #ffd700;
}

main {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

section {
    margin-bottom: 20px;
     padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

button {
    padding: 10px 20px;
    background-color: #0066cc;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
background-color: #984299;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 15px;
}